WEATHER_ENVIRONMENT=development
WEATHER_DATA_DIR=./data
WEATHER_LOG_LEVEL=INFO
WEATHER_INTERNAL_OTEL_ENDPOINT=
WEATHER_ALLOW_EXTERNAL_EGRESS=false
WEATHER_MAX_SOURCE_RECORD_BYTES=67108864
WEATHER_CONTROL_PLANE_TOKEN=
